:root {
    --gradient-main-blue: linear-gradient(#42A1EC, #0070C9);
    --gradient-hover: linear-gradient(#51A9EE, #147BCD);
    --gradient-active: linear-gradient(#3D94D9, #0067B9) ;
    --box-shadow-accord: inset 0 0px 2px 1px var(--primary);
    --box-shadow-accord-focus: rgba(131, 192, 253, 0.5) 0 0 0 1px;
    --box-shadow-details: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    --text-color: #FFFFFF;
    --font-family:"Franklin Gothic Book",sans-serif;
}


details {
    font-family: var(--font-family);
    font-size: 0.6em;
    width: 90%;
    margin: 0 auto ;
    background: var(--background-main-invert);
    color: var(--text-color);
    margin-bottom: .5rem;
    box-shadow: var(--box-shadow-details);
    border-radius: 5px;
    overflow: hidden;
}
summary {
    padding-left: 30%;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1.1rem;
    display: block;
    color: var(--text-color);
    box-shadow: var(--box-shadow-accord);
    background: var(--gradient-main-blue);
    text-overflow: ellipsis;
    position: relative;
    top:50%;
    cursor: pointer;
    overflow: hidden;
}

summary h2 {
    letter-spacing: 1px;
}

summary:hover {
    background: var(--gradient-hover);
}


summary:active {
    background: var(--gradient-active);
}


summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}


summary > * {
    display: inline;
}


/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
    transform: rotate(90deg);
}


details summary::-webkit-details-marker {
    display:none;
}


details > ul {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

li {
    padding-left: 5%;
}

details > ul~li {
    padding-top: 5%;
}

ul {
 /*list-style-image: url("\Playlist\images\music_note_FILL0_wght100_GRAD0_opsz24.svg");*/
}