#croppie-flex {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
}

#crop-controls {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

#crop-container {
    width: 750px;
    height: 800px;
}