details {
    font-family: var(--font-family);
    font-size: 0.6em;
    width: 91%;
    margin: 0 auto ;
    background: var(--background-main-invert);
    color: var(--text-color);
    margin-bottom: .5rem;
    box-shadow: var(--box-shadow-details);
    border-radius: 5px;
    overflow: hidden;
}


summary {
    padding-left: 26%;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1.1rem;
    display: block;
    color: var(--text-color);
    box-shadow: var(--box-shadow-accord);
    background: var(--btn-main-grad);
    position: relative;
    top:50%;
    cursor: pointer;
    overflow: hidden;
}


h2 {
    font-family: "Orator Std";
    text-shadow: 1px 1px #2d2c2c;

    font-size: 1.4em;
    vertical-align: -32%;
}


summary:hover {
    background: var(--btn-main-hover);
}


summary:active {
    background: var(--btn-main-active);
}


summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

/*FIX Issue 2: Nested block elements in <summary>*/
summary > * {
    display: inline;
}


/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
    transform: rotate(90deg);
}


details summary::-webkit-details-marker {
    display:none;
}


details > ul {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


li {
    padding-left: 5%;
}