body {
    min-width: 850px;
    margin: 0px;
    background: var(--background-main);
}

a {
    color: var(--primary);
    font-weight: 400;
    text-decoration: none;
}


p {
    font-size: 0.8rem;
}


p input {
    vertical-align: -12%;
}


a:hover{
    text-decoration: underline;
}


input {
    font-family: "Century Gothic";
    font-size: 0.8rem;
    padding: 10px;
    background-color: var(--light-blue);
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    outline: none;
}


.container {
    height: 80vh;
    width: 66vw;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}


.container--center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    height: 100vh;
}



.form-login {
    flex-direction: column;
    justify-content: center;
    width: 23vw;
    height: 62vh;
    min-width: 294px;
    min-height: 392px;
    display: flex;
    gap: 1rem;
    margin: auto;
    padding: 24px 24px 24px 24px;
    border-width: 4px;
    background-color: var(--bg-main-gray);
    box-shadow: inset 0 0 4px 3px #42A1ECFF;
    border-radius: 0.5rem;
}


.form-register {
    flex-direction: column;
    justify-content: center;
    width: 23vw;
    height: auto;
    min-width: 294px;
    min-height: 392px;
    display: flex;
    gap: 1rem;
    margin: auto;
    padding: 24px 24px 24px 24px;
    border-width: 4px;
    background-color: var(--bg-main-gray);
    box-shadow: inset 0 0 4px 3px #42A1ECFF;
    border-radius: 0.5rem;
}


.form__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Franklin Gothic Book";
}


.form__footer p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


.form__error-message{
    font-family: "Franklin Gothic Book";
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--error);
}


.form__headline {
    font-family: "Century Gothic";
    font-weight: normal;
    text-align: center;
}