/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');*/

:root {
    --primary: #0070C9;
    --success: #00BA88;
    --error: #FA3C6A;
    --light-gray: #F0F0F0;
    --light-blue: #e0f1ff;
    font-family: 'Helvetica', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 850px;
    margin: 0px;
    background: var(--background-main);
}

a {
    color: var(--primary);
    font-weight: 400;
    text-decoration: none;
    transition: text-decoration 5s ease-in-out;
}

p {
    font-size: 0.8rem;
}

a:hover{
    text-decoration: underline;
   
}

input {
    font-family: "Century Gothic";
    font-size: 0.8rem;
    padding: 10px;
    background-color: var(--light-blue);
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    outline: none;
}

.input--error {
    font-size: 0.8rem;
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 4px;
    border: 2px solid red;
}


.container {
    height: 80vh;
    width: 66vw;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.container--center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    height: 100vh;
}


.form {
    z-index: 100;
    min-width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    padding: 24px 24px 24px 24px;
    border-radius: 4px;
    border-width: 4px;
    background-color: #5e5e5e;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 4px 3px #42A1ECFF;
}

.form__footer {
    display: flex;
    justify-content: center;
}

.form__error-message{
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--error);
}

.form__headline {
    font-family: "Century Gothic";
    font-weight: normal;
    text-align: center;
}