* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #262626;
    overflow: hidden;
}


.container-hero{
    display: flex;
    height: 89vh;
}

/*<!----------------------------- LEVÁ NAVIGACE -------------------------------->*/

.nav-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
    width: 20vw;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    gap: 1rem;
    background: var(--background-main);
}


.nav-left-upper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 57px;
    height: 7.4%;
    width: 100%;
    gap: 0.4rem;
    padding-block: 0.5em;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--bg-main-gray);
    box-shadow: var(--box-shadow-main);
}

.nav-left-upper.open{
    animation: nlu-unroll 0.3s;
    animation-fill-mode: forwards;
}

.nav-left-upper.close{
    animation: nlu-roll 0.3s;
}

@keyframes nlu-unroll {
    from {height: 9.5%;}
    to {height: 42%;}
}

@keyframes nlu-roll {
    from {height: 42%;}
    to {height: 9.5%;}
}


.div-left-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    row-gap: 0.4rem;
    margin: 1px;
    width: 100%;
}


.nav-left-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-block: 4%;
    border-radius: 0.5rem;
    overflow-x: hidden;
    background-color: var(--bg-main-gray);
    box-shadow: inset 0 0 4px 3px #42A1ECFF;
}


.nav-left-bottom-overflow {
    overflow: auto;
    width: 98%;
}

/*<!--------------------------------- CENTRAL ---------------------------------->*/

.container-central{
    display: flex;
    flex-direction: column;
    width: 50vw;
}


.nav-central-top{
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    padding-block: 1rem;
    padding-inline: 5px;
    height: 8%;
    width: 100%;
    overflow: hidden;
    background: var(--background-main);
}

div.central-bottom
{
    width: inherit;
    height: 91%;
    content: url("/Playlist/images/colorful-headphones.jpg");
    background-size: cover;
    user-select: none;
} 

/*<!----------------------------- PRAVÁ NAVIGACE ------------------------------->*/

.nav-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background: var(--background-main);
}

/*<!------------------------------ FOOTER -------------------------------->*/

.foot-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 11vw;
    background: var(--background-main-3x);
}

/*================================== MISC ======================================*/

.letter-spacing {
    letter-spacing: 0.02em;
}

/*===================================== SCROLLBAR ====================================*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--btn-main-grad);
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}