button {
    min-height: 30.82px;
}

.button-main {

    /*font-family: "Helvetica Neue","Helvetica,Arial",system-ui,sans-serif;*/
    font-family: "Franklin Gothic Book";
    background-image: var(--btn-main-grad);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 0px 4px 1px #626262;
    min-height: 30px;
    color: var(--text-color);
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.47059;
    min-width: 30px;
    padding: 4px 6px;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: baseline;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
}


.width {
    width: 89%;
}


.button-main:disabled {
    cursor: default;
    opacity: .3;
}


.button-main:hover {
    background-image: var(--btn-main-hover);
    border-color: #1482D0;
    text-decoration: none;
}


.button-main:active {
    background-image: var(--btn-main-active);
    border-color: #006DBC;
    outline: none;
    box-shadow: inset 0 0px 4px 1px #626262;
}


.button-main:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 1px;
    outline: none;
}