.button-main {

    background-image: linear-gradient(#42A1EC, #0070C9);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 0px 4px 1px #626262;
    min-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: system-ui,"Helvetica Neue","Helvetica,Arial",sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    padding: 4px 6px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
    user-select: none;
    white-space: nowrap;
}
.width {
    width: 90%;
}


.button-main:disabled {
    cursor: default;
    opacity: .3;
}

.button-main:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-main:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
    box-shadow: inset 0 0px 4px 1px #626262;
}

.button-main:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 1px;
    outline: none;
}